/* header-nav.css */
header {
    text-align: center;
    padding: 15px;
}

nav {
    position: relative;
    background-color: #3d376686;
    box-shadow: rgba(46, 63, 130, 0.497) 0px 0px 8px;
    text-shadow: 0 0 5px rgba(0, 51, 255, 0.514);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ff6b6b;
    left: 50%;
    bottom: 0;
    transition: width 0.3s, left 0.3s;
}

nav ul li a:hover {
    color: #ff6b6b;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}