header {
    text-align: center;
    padding: 15px;
}



nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d376686;
    box-shadow: #44498b 0px 0px 2px;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98.6%;
    height: 60px;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
    margin-top: 3px;
    /* Ajuste a margem conforme necessário */
}

nav ul li a {
    /* Ajuste o tamanho da fonte para responsividade */
}

nav ul li a:hover {
    color: #ff6b6b;
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.divider {
    margin-left: 20px;
    margin-top: -5px;
    font-size: 20px;
    padding: 7px;
    color: #d3947597;
}

.menu {
    font-family: sans-serif;
}

.menu-1 {
    background: #33366862;
}

.menu a {
    font-size: 14px;
    /* Ajuste o tamanho da fonte para responsividade */
    text-transform: uppercase;
    text-decoration: solid #000000 20px; 
    color: #ffb692;
    display: block;
    position: relative;
    padding: 5px 0;
}

.menu a::before {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    bottom: -19px;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
}

.menu a:hover::before {
    transform: scale3d(1, 1, 1);
}

.menu-1 a::before {
    background: #ff7a6b;
    transform-origin: 100% 50%;
}

.menu-1 a:hover::before {
    transform-origin: 0 50%;
}

/* Media Query para telas pequenas */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    nav ul {
        justify-content: center;
        margin-right: 0;
        gap: 10px;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li a {
        font-size: 12px;
        /* Ajuste para tamanhos menores */
        margin-top: 0;
    }

    .menu a {
        font-size: 12px;
        /* Ajuste para tamanhos menores */
    }
}

/* CSS para o logo */
.logo {
    max-width: 550px;
    z-index: -1000;
    display: flex;
    position: relative;
    justify-content: right;
    /* Alinha o logo no centro horizontalmente */
    align-items: center;
    /* Alinha o logo no centro verticalmente */
    margin-left: 1250px;
    margin-top: 30px;
}

.logo img {
    max-width: 100%;
    /* Garante que o logo não exceda a largura do contêiner */
    height: auto;
    /* Mantém a proporção do logo */
    width: 100%;
    /* Ajusta a largura automaticamente */
    max-height: 750px;
    max-width: 350px;

    -webkit-animation: piscar linear 10s infinite;
    /* Ajusta a altura máxima do logo (ajuste conforme necessário) */
    animation: piscar linear 10s infinite;

    margin-left: 1400px;
}


/* Media Query para tamanhos menores */
@media (max-width: 768px) {
    .logo img {
        max-height: 40px;
        /* Ajusta a altura máxima do logo em telas menores */
    }
}

@keyframes piscar {
    0% {
        transform: rotate3d(2, 2, 1, 10deg);
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1);
    }

    10% {
        transform: rotate3d(4, 4, 4, 90deg);
        transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1);
    }

    50%{
        transform: rotate3d(2, 2, 1, 10deg);
    }

    100% {
        transform: rotate3d(2, 2, 1, -10deg);
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1);
    }

    50%{
        transform: rotate3d(2, 2, 1, 10deg);
    }

    100% {
        transform: rotate3d(2, 2, 1, -10deg);
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1);
    }

    0% {
        transform: rotate3d(2, 2, 1, 10deg);
        transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1);
    }
    
}