/* Estilo para o corpo da página */
body {
    background: url('/I_Background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: '', sans-serif;
    color: #fff;
    line-height: 1.6;
}

/* Ajustando a posição da imagem em telas menores */
@media (max-width: 768px) {
    body {
        background-position: top center;
        background-size: cover; /* Ajuste conforme necessário */
    }
}


header {
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {

    .hire-me {
        visibility: hidden;
    }
    
    nav ul {
        flex-direction: row;
        gap: 10px;
    }

    #about p{
        margin-top: 150px;
    }

    .profile,
    .profile-container,
    .resume-container,
    .featured-projects {
        max-width: 90%;
        margin: 1rem auto;
        padding: 20px;
    }

    .profile img {
        width: 100px;
        height: 100px;
        margin-top: -100px;
    }

    .featured-projects .project-grid {
        flex-direction: column;
        height: auto;
    }
}

nav {
    position: relative;
    background-color: #6e4d7f8c;
    box-shadow: 0px 0px 15px #327fb754;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ff6b6b;
    /* Cor da linha de destaque */
    left: 50%;
    bottom: 0;
    transition: width 0.3s, left 0.3s;
}

nav ul li a:hover {
    color: #ff6b6b;
    /* Cor do texto ao passar o mouse */
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

.hire-me {
    background-color: #ff6b6b;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.hire-me:hover {
    background-color: #aeaeae;
}

.profile img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: -125px;
}

.profile h1,
#about h2,
#projects h2,
#resume h2,
#contact h2 {
    font-family: 'Press Start 2P', cursive;
    transform: scaleY(1.25);
    padding: 10px;
    font-size: clamp(1.2em, 2vw, 1.6em);
    margin: 2px 0;
    white-space: wrap;
    overflow: hidden;
    position: relative;
}

.blinking-cursor::after {
    content: '_';
    /* Caracter underline */
    animation: blink 1s step-end infinite;
    position: absolute;
    /* Ajuste conforme necessário */
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}

#about p, h2{
    font-family: 'Press Start 2P', cursive;
    transform: scaleX(0.5);
        /* 0.9 comprime a largura em 10%, ajuste conforme necessário */
        /* Ajuste para melhorar a compactação */
    transform: scaleY(1.25);
        /* 1.15  */
        /* Ajuste para melhorar a compactação */
    padding: 70px;
}

#about p{
    text-indent: 50px;
    text-align: justify;
}

.profile{
    background-color: #6e4d7f8c;
    border-radius: 15px;
    padding: 80px ;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    margin: 10rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
}



.profile p {
    font-family: 'Press Start 2P', cursive;
    transform: scaleX(0.85);
        /* 0.9 comprime a largura em 10%, ajuste conforme necessário */
        /* Ajuste para melhorar a compactação */
    transform: scaleY(1.15);
        /* 1.15  */
        /* Ajuste para melhorar a compactação */
    font-size: 1em;
    margin: 40px 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.profile .btn {
    background-color: #ff6b6b;

    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: #aeaeae;
}

.profile-container {
    background-color: #445b8dea;
    border-radius: 15px;
    padding: 45px ;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    margin: 1.rem auto;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.profile-container::after, .profile-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), #ff6b6b, #3b82f6, #ff6b6b);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
}

.profile-container::before {
    filter: blur(1.5rem);
}

@keyframes spin{
    from {
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.resume-container{
    background-color: #445b8dea;
    border-radius: 15px;
    padding: 20px ;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin: 3rem auto;
}

.button_resume{
    background-color: #ff6b6b;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.button_resume:hover {
    background-color: #aeaeae;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.h2_s{
    font-size: 2em;
    margin-top: 0px;
    color: rgb(58, 201, 201); 
    font-weight: bolder;
}

.resume-container::after,
.resume-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), #ff6b6b, #3b82f6, #ff6b6b);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
}

.resume-container::before {
    filter: blur(1.5rem);
}

section p {
    max-width: 600px;
    margin: 0 auto 30px auto;
}

.featured-projects .project-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 200px;
}

.featured-projects{
    background-color: #445b8dea;
    border-radius: 20px;
    padding: 15px ;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin: 10rem auto;
}

.featured-projects::after,
.featured-projects::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle), #ff6b6b, #3b82f6, #ff6b6b);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
}

.featured-projects::before {
    filter: blur(1.5rem);
}

.featured-projects .project {
    width: 300px;
    height: 200px;
    background-color: #333;
    border-radius: 10px;
}


.post h3 {
    margin-top: 0;
}

.post .read-more {
    display: inline-block;
    margin-top: 10px;
    color: #3b82f6;
    text-decoration: none;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
}

form button {
    background-color: #ff6b6b;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #445b8d64;
    color: #fff;
    margin-top: 50px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icon {
    font-size: 1.5em;
    color: #ff6b6b;
    text-decoration: none;
    transition: color 0.15s;
}

.social-icon:hover {
    color: #aeaeae;
    /* Cor de destaque ao passar o mouse */
}

.social-icon i {
    font-size: 1.5em;
}


/* Estilos para o overlay de loading */
#loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.826);
    /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

/* Spinner de carregamento */
.spinner {
    border: 6px solid ;
    border-top: 6px solid #ff6b6b;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin_loading 1s linear infinite;
}

.spinner::after, .spinner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
}

@keyframes spin_loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Esconde o conteúdo até que a página esteja carregada */
#content {
    opacity: 0;
    /* Inicialmente invisível */
    visibility: hidden;
    /* Para garantir que o conteúdo não apareça antes do carregamento */
    animation: fadeIn 1s ease-in backwards;
    /* Animação de fade-in */
}